TestJava/Project1/public_html/WEB-INF/wsdl/SalesOrderManager.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://oracle.e1.bssv.JP420000/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://oracle.e1.bssv.JP420000/">

<xs:element name="BusinessServiceException" type="tns:BusinessServiceException"/>

<xs:element name="getCustomerItemPrice" nillable="true" type="tns:getCustomerItemPrice"/>

<xs:element name="getCustomerItemPriceResponse" nillable="true" type="tns:showCustomerItemPrice"/>

<xs:element name="getCustomerItemPriceV2" nillable="true" type="tns:getCustomerItemPriceV2"/>

<xs:element name="getCustomerItemPriceV2Response" nillable="true" type="tns:showCustomerItemPriceV2"/>

<xs:element name="getItemListPrice" nillable="true" type="tns:getItemListPrice"/>

<xs:element name="getItemListPriceResponse" nillable="true" type="tns:showItemListPrice"/>

<xs:element name="getItemPriceAndAvailability" nillable="true" type="tns:getItemPriceAndAvailability"/>

<xs:element name="getItemPriceAndAvailabilityResponse" nillable="true" type="tns:showItemPriceAndAvailability"/>

<xs:element name="getItemPriceAndAvailabilityV2" nillable="true" type="tns:getItemPriceAndAvailabilityV2"/>

<xs:element name="getItemPriceAndAvailabilityV2Response" nillable="true" type="tns:showItemPriceAndAvailabilityV2"/>

<xs:element name="getSalesOrder" nillable="true" type="tns:getSalesOrder"/>

<xs:element name="getSalesOrderPriceHistory" nillable="true" type="tns:getSalesOrderPriceHistory"/>

<xs:element name="getSalesOrderPriceHistoryResponse" nillable="true" type="tns:showSalesOrderPriceHistory"/>

<xs:element name="getSalesOrderResponse" nillable="true" type="tns:showSalesOrder"/>

<xs:element name="getSalesOrderV2" nillable="true" type="tns:getSalesOrder"/>

<xs:element name="getSalesOrderV2Response" nillable="true" type="tns:showSalesOrderV2"/>

<xs:element name="processSalesOrder" nillable="true" type="tns:processSalesOrder"/>

<xs:element name="processSalesOrderResponse" nillable="true" type="tns:confirmSalesOrder"/>

<xs:element name="processSalesOrderV2" nillable="true" type="tns:processSalesOrderV2"/>

<xs:element name="processSalesOrderV2Response" nillable="true" type="tns:confirmSalesOrderV2"/>

<xs:element name="processSalesPriceAdjustment" nillable="true" type="tns:processSalesPriceAdjustment"/>

<xs:element name="processSalesPriceAdjustmentResponse" nillable="true" type="tns:confirmSalesPriceAdjustment"/>

<xs:complexType name="processSalesOrderV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="header" type="tns:processSOHeaderV2" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="valueObject">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="processSOHeaderV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="attachmentText" type="xs:string" minOccurs="0"/>
<xs:element name="billing" type="tns:processSOHeaderBillingV2" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCodeTo" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateOrdered" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="detail" type="tns:processSODetailV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="forwardedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="invoicedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="orderTakenBy" type="xs:string" minOccurs="0"/>
<xs:element name="orderedBy" type="xs:string" minOccurs="0"/>
<xs:element name="paidBy" type="tns:entity" minOccurs="0"/>
<xs:element name="processing" type="tns:processSOHeaderProcessing" minOccurs="0"/>
<xs:element name="rateExchange" type="xs:decimal" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:processSOCustomer" minOccurs="0"/>
<xs:element name="soldTo" type="tns:processSOCustomer" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
<xs:element name="timeScheduledPick" type="xs:int" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSOHeaderBillingV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="checkNumber" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customerPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="dateExpiration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliveryInstruction1" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryInstruction2" type="xs:string" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="percentDiscountTrade" type="xs:decimal" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="entity">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="entityId" type="xs:int" minOccurs="0"/>
<xs:element name="entityLongId" type="xs:string" minOccurs="0"/>
<xs:element name="entityTaxId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSODetailV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementId" type="xs:string" minOccurs="0"/>
<xs:element name="agreementSupplement" type="xs:int" minOccurs="0"/>
<xs:element name="billing" type="tns:processSODetailBillingV2" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnitDestination" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCodesPurchasing" type="tns:categoryCodesPurchasing" minOccurs="0"/>
<xs:element name="categoryCodesSales" type="tns:categoryCodesSales" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedDelivery" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedOriginal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="dutyStatusCode" type="xs:string" minOccurs="0"/>
<xs:element name="endUseCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineOfBusinessCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:processSOOriginalOrder" minOccurs="0"/>
<xs:element name="priorityCode" type="xs:string" minOccurs="0"/>
<xs:element name="processing" type="tns:processSODetailProcessing" minOccurs="0"/>
<xs:element name="product" type="tns:processSODetailProduct" minOccurs="0"/>
<xs:element name="quantityBackOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityCanceled" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityShippable" type="xs:decimal" minOccurs="0"/>
<xs:element name="reference" type="xs:string" minOccurs="0"/>
<xs:element name="relatedOrder" type="tns:relatedOrder" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="statusCodeLast" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeNext" type="xs:string" minOccurs="0"/>
<xs:element name="supplier" type="tns:entity" minOccurs="0"/>
<xs:element name="timePromisedDelivery" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedOriginal" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedShip" type="xs:int" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
<xs:element name="timeScheduledPick" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSODetailBillingV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="modeOfTransportCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="pricing" type="tns:pricingV2" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="subledger" type="xs:string" minOccurs="0"/>
<xs:element name="subledgerTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxableCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="pricingV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isZeroPriceOverride" type="xs:boolean" minOccurs="0"/>
<xs:element name="isZeroTaxedPriceOverride" type="xs:boolean" minOccurs="0"/>
<xs:element name="priceCode1" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode2" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode3" type="xs:string" minOccurs="0"/>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="categoryCodesPurchasing">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="categoryCode001" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode002" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode003" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode004" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode005" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="categoryCodesSales">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="categoryCode001" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode002" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode003" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode004" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCode005" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSOOriginalOrder">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="originalOrderKey" type="tns:originalOrderKey" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="originalOrderKey">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentCompany" type="xs:string" minOccurs="0"/>
<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="documentTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSODetailProcessing">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="actionType" type="xs:string" minOccurs="0"/>
<xs:element name="useConfigurationRule" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSODetailProduct">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="configuration" type="tns:configuration" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description1" type="xs:string" minOccurs="0"/>
<xs:element name="description2" type="xs:string" minOccurs="0"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="itemVolume" type="xs:decimal" minOccurs="0"/>
<xs:element name="itemWeight" type="xs:decimal" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeVolume" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeWeight" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="configuration">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="description1" type="xs:string" minOccurs="0"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="itemParent" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="quantityComponent" type="xs:decimal" minOccurs="0"/>
<xs:element name="segment" type="tns:segment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unitOfMeasureCodeComponent" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="itemGroupCustomer">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="itemCatalog" type="xs:string" minOccurs="0"/>
<xs:element name="itemCustomer" type="xs:string" minOccurs="0"/>
<xs:element name="itemFreeForm" type="xs:string" minOccurs="0"/>
<xs:element name="itemId" type="xs:int" minOccurs="0"/>
<xs:element name="itemProduct" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="segment">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="segmentNumber" type="xs:int" minOccurs="0"/>
<xs:element name="segmentValue" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedOrder">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="relatedOrderKey" type="tns:relatedOrderKey" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedOrderKey">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentCompany" type="xs:string" minOccurs="0"/>
<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="documentTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userReservedData">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="userReservedAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="userReservedCode" type="xs:string" minOccurs="0"/>
<xs:element name="userReservedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="userReservedNumber" type="xs:int" minOccurs="0"/>
<xs:element name="userReservedReference" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSOHeaderProcessing">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="actionType" type="xs:string" minOccurs="0"/>
<xs:element name="processingVersion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="salesOrderKey">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentCompany" type="xs:string" minOccurs="0"/>
<xs:element name="documentNumber" type="xs:int" minOccurs="0"/>
<xs:element name="documentTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSOCustomer">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine4" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
<xs:element name="countyCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:entity" minOccurs="0"/>
<xs:element name="mailingName" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="stateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSalesOrderV2">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="header" type="tns:confirmSOHeaderV2" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="messageValueObject">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="e1MessageList" type="tns:e1MessageList" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSOHeaderV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="actionType" type="xs:string" minOccurs="0"/>
<xs:element name="amountTotalOrderDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="amountTotalOrderForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="attachmentText" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dates" type="tns:confirmSOHeaderDates" minOccurs="0"/>
<xs:element name="delivery" type="tns:confirmSOHeaderDelivery" minOccurs="0"/>
<xs:element name="detail" type="tns:confirmSODetailV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="financial" type="tns:confirmSOHeaderFinancial" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:processSOCustomer" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSOHeaderDates">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="orderDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSOHeaderDelivery">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetailV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="dates" type="tns:confirmSODetailDates" minOccurs="0"/>
<xs:element name="delivery" type="tns:confirmSODetailDelivery" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="financial" type="tns:confirmSODetailFinancialV2" minOccurs="0"/>
<xs:element name="product" type="tns:confirmSODetailProduct" minOccurs="0"/>
<xs:element name="quantity" type="tns:quantity" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetailDates">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="datePromisedDelivery" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="timePromisedDelivery" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedShip" type="xs:int" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetailDelivery">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="modeOfTransportCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetailFinancialV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetailProduct">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeLast" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeNext" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="quantity">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="quantityBackOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityCanceled" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityShippable" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSOHeaderFinancial">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTerms" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="e1MessageList">
<xs:sequence>
<xs:element name="e1Messages" type="tns:e1Message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="e1Message">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="messagePrefix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusinessServiceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="requestID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesOrderPriceHistory">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="detail" type="tns:priceHistory" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="priceHistory">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesOrderPriceHistory">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="detail" type="tns:showPriceHistoryDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showPriceHistoryDetail">
<xs:complexContent>
<xs:extension base="tns:priceHistory">
<xs:sequence>
<xs:element name="priceAdjustmentLedger" type="tns:priceAdjustmentLedger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="priceAdjustmentLedger">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentCalculation" type="xs:string" minOccurs="0"/>
<xs:element name="adjustmentGroup" type="xs:string" minOccurs="0"/>
<xs:element name="adjustmentMutuallyExclusive" type="xs:string" minOccurs="0"/>
<xs:element name="adjustmentReasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="adjustmentTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="amountAdjustmentDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="amountAdjustmentForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="basisCode" type="xs:string" minOccurs="0"/>
<xs:element name="ledgerTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="manualDiscount" type="xs:string" minOccurs="0"/>
<xs:element name="overridePriceCode" type="xs:string" minOccurs="0"/>
<xs:element name="promotionDisplayControl" type="xs:string" minOccurs="0"/>
<xs:element name="quantityFrom" type="xs:decimal" minOccurs="0"/>
<xs:element name="sequenceNumber" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeFactorValue" type="xs:string" minOccurs="0"/>
<xs:element name="valueBasedOn" type="xs:decimal" minOccurs="0"/>
<xs:element name="valueFactor" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getSalesOrder">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="header" type="tns:getSalesHeader" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getSalesHeader">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="amountTotalOrderDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="amountTotalOrderForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCodeFrom" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateActualShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTransaction" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="detail" type="tns:getSalesDetail" minOccurs="0"/>
<xs:element name="forwardedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="invoicedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="orderTakenBy" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:originalOrder" minOccurs="0"/>
<xs:element name="paidBy" type="tns:entity" minOccurs="0"/>
<xs:element name="RMAId" type="xs:int" minOccurs="0"/>
<xs:element name="RMAType" type="xs:string" minOccurs="0"/>
<xs:element name="rateExchangeOverride" type="xs:decimal" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getSalesDetail">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementId" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="categoryCodesPurchasing" type="tns:categoryCodesPurchasing" minOccurs="0"/>
<xs:element name="categoryCodesSales" type="tns:categoryCodesSales" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCodeFrom" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateAccounting" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateActualShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateInvoice" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedDelivery" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedOriginal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTransaction" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="deliveryId" type="xs:int" minOccurs="0"/>
<xs:element name="description1" type="xs:string" minOccurs="0"/>
<xs:element name="description2" type="xs:string" minOccurs="0"/>
<xs:element name="document" type="tns:document" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="modeOfTransportCode" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:originalOrder" minOccurs="0"/>
<xs:element name="parent" type="tns:entity" minOccurs="0"/>
<xs:element name="pickSlipId" type="xs:int" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="product" type="tns:getDetailProduct" minOccurs="0"/>
<xs:element name="quantityBackOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityCanceled" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityShippable" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateExchangeOverride" type="xs:decimal" minOccurs="0"/>
<xs:element name="relatedOrder" type="tns:relatedOrder" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="shipmentId" type="xs:int" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="document">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentKey" type="tns:documentKey" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="documentKey">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="documentCompany" type="xs:string" minOccurs="0"/>
<xs:element name="documentNumber" type="xs:int" minOccurs="0"/>
<xs:element name="documentTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="originalOrder">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="originalOrderKey" type="tns:originalOrderKey" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getDetailProduct">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeLast" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeNext" type="xs:string" minOccurs="0"/>
<xs:element name="zoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesOrderV2">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="header" type="tns:showSalesHeaderV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesHeaderV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="amountTotalOrderDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="amountTotalOrderForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCodeFrom" type="xs:string" minOccurs="0"/>
<xs:element name="currencyModeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="customerPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="dateActualShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTransaction" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="deliveryInstruction1" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryInstruction2" type="xs:string" minOccurs="0"/>
<xs:element name="detail" type="tns:showSalesDetailV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="entityIdCarrier" type="xs:int" minOccurs="0"/>
<xs:element name="forwardedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="invoicedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="modeOfTransport" type="xs:string" minOccurs="0"/>
<xs:element name="orderTakenBy" type="xs:string" minOccurs="0"/>
<xs:element name="orderedBy" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:originalOrder" minOccurs="0"/>
<xs:element name="paidBy" type="tns:entity" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="percentDiscountTrade" type="xs:decimal" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="RMAId" type="xs:int" minOccurs="0"/>
<xs:element name="RMAType" type="xs:string" minOccurs="0"/>
<xs:element name="rateExchangeOverride" type="xs:decimal" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="routeCode" type="xs:string" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:showSalesShipTo" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
<xs:element name="stopCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
<xs:element name="zoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementId" type="xs:string" minOccurs="0"/>
<xs:element name="agreementSupplement" type="xs:int" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCodesPurchasing" type="tns:categoryCodesPurchasing" minOccurs="0"/>
<xs:element name="categoryCodesSales" type="tns:categoryCodesSales" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="costExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitPurchasingDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitPurchasingForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="currencyCodeFrom" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateAccounting" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateActualShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateInvoice" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateOrdered" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedDelivery" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedOriginal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="deliveryId" type="xs:int" minOccurs="0"/>
<xs:element name="document" type="tns:document" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="dutyStatusCode" type="xs:string" minOccurs="0"/>
<xs:element name="endUseCode" type="xs:string" minOccurs="0"/>
<xs:element name="entityIdSupplier" type="xs:int" minOccurs="0"/>
<xs:element name="lineBilling" type="tns:showSalesDetailLineBillingV2" minOccurs="0"/>
<xs:element name="lineOfBusinessCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:showSalesDetailOriginalOrder" minOccurs="0"/>
<xs:element name="parent" type="tns:entity" minOccurs="0"/>
<xs:element name="pickSlipId" type="xs:int" minOccurs="0"/>
<xs:element name="product" type="tns:showSalesDetailProduct" minOccurs="0"/>
<xs:element name="quantityBackOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityCanceled" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityShippable" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateExchangeOverride" type="xs:decimal" minOccurs="0"/>
<xs:element name="reference" type="xs:string" minOccurs="0"/>
<xs:element name="relatedOrder" type="tns:relatedOrder" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="shipmentId" type="xs:int" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
<xs:element name="statusCodeLast" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeNext" type="xs:string" minOccurs="0"/>
<xs:element name="timePromisedDelivery" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedOriginal" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedShip" type="xs:int" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
<xs:element name="timeScheduledPick" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailLineBillingV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="linePricing" type="tns:showSalesDetailLinePricingV2" minOccurs="0"/>
<xs:element name="modeOfTransport" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="subledger" type="xs:string" minOccurs="0"/>
<xs:element name="subledgerTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxableCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailLinePricingV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTaxedPricesEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="itemPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode1" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode2" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode3" type="xs:string" minOccurs="0"/>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceInvoicedForKitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceInvoicedForKitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailOriginalOrder">
<xs:complexContent>
<xs:extension base="tns:originalOrder">
<xs:sequence>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailProduct">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="description1" type="xs:string" minOccurs="0"/>
<xs:element name="description2" type="xs:string" minOccurs="0"/>
<xs:element name="item" type="tns:showDetailItem" minOccurs="0"/>
<xs:element name="itemVolume" type="xs:decimal" minOccurs="0"/>
<xs:element name="itemWeight" type="xs:decimal" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeVolume" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeWeight" type="xs:string" minOccurs="0"/>
<xs:element name="zoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showDetailItem">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="itemCatalog" type="xs:string" minOccurs="0"/>
<xs:element name="itemId" type="xs:int" minOccurs="0"/>
<xs:element name="itemProduct" type="xs:string" minOccurs="0"/>
<xs:element name="itemUPCEAN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesShipTo">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine4" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
<xs:element name="countyCode" type="xs:string" minOccurs="0"/>
<xs:element name="mailingName" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="stateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getItemPriceAndAvailabilityV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:entity" minOccurs="0"/>
<xs:element name="processing" type="tns:processingVersion" minOccurs="0"/>
<xs:element name="product" type="tns:productIn" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processingVersion">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="processingVersion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="productIn">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showItemPriceAndAvailabilityV2">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="product" type="tns:productOutV2" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="productOutV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="availability" type="tns:availability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="priceExtended" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnit" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtended" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnit" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtended" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnit" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="availability">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="quantityAvailable" type="xs:decimal" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouse" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="warehouse">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="address" type="tns:warehouseAddress" minOccurs="0"/>
<xs:element name="warehouse" type="xs:int" minOccurs="0"/>
<xs:element name="warehouseDescriptive" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="warehouseAddress">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine4" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
<xs:element name="countyCode" type="xs:string" minOccurs="0"/>
<xs:element name="mailingName" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="stateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSalesPriceAdjustment">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="costTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:entity" minOccurs="0"/>
<xs:element name="dates" type="tns:dates" minOccurs="0"/>
<xs:element name="financial" type="tns:financial" minOccurs="0"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="priceAdjustmentId" type="xs:int" minOccurs="0"/>
<xs:element name="processing" type="tns:processing" minOccurs="0"/>
<xs:element name="promotionAddChangeMask" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dates">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="dateEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateExpiration" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="financial">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="amountAdjustment" type="xs:decimal" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processing">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="actionType" type="xs:string" minOccurs="0"/>
<xs:element name="processingVersion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSalesPriceAdjustment">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="adjustmentTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="costTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:entity" minOccurs="0"/>
<xs:element name="financial" type="tns:financial" minOccurs="0"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="priceAdjustmentId" type="xs:int" minOccurs="0"/>
<xs:element name="processing" type="tns:processing" minOccurs="0"/>
<xs:element name="unitOfMeasureTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSalesOrder">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="header" type="tns:processSOHeader" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSOHeader">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="attachmentText" type="xs:string" minOccurs="0"/>
<xs:element name="billing" type="tns:processSOHeaderBilling" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCodeTo" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateOrdered" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="detail" type="tns:processSODetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="forwardedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="invoicedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="orderTakenBy" type="xs:string" minOccurs="0"/>
<xs:element name="orderedBy" type="xs:string" minOccurs="0"/>
<xs:element name="paidBy" type="tns:entity" minOccurs="0"/>
<xs:element name="processing" type="tns:processSOHeaderProcessing" minOccurs="0"/>
<xs:element name="rateExchange" type="xs:decimal" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:processSOCustomer" minOccurs="0"/>
<xs:element name="soldTo" type="tns:processSOCustomer" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
<xs:element name="timeScheduledPick" type="xs:int" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSOHeaderBilling">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="checkNumber" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customerPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="dateExpiration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliveryInstruction1" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryInstruction2" type="xs:string" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="percentDiscountTrade" type="xs:decimal" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSODetail">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementId" type="xs:string" minOccurs="0"/>
<xs:element name="agreementSupplement" type="xs:int" minOccurs="0"/>
<xs:element name="billing" type="tns:processSODetailBilling" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnitDestination" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCodesPurchasing" type="tns:categoryCodesPurchasing" minOccurs="0"/>
<xs:element name="categoryCodesSales" type="tns:categoryCodesSales" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedDelivery" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedOriginal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="dutyStatusCode" type="xs:string" minOccurs="0"/>
<xs:element name="endUseCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineOfBusinessCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:processSOOriginalOrder" minOccurs="0"/>
<xs:element name="priorityCode" type="xs:string" minOccurs="0"/>
<xs:element name="processing" type="tns:processSODetailProcessing" minOccurs="0"/>
<xs:element name="product" type="tns:processSODetailProduct" minOccurs="0"/>
<xs:element name="quantityBackOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityCanceled" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityShippable" type="xs:decimal" minOccurs="0"/>
<xs:element name="reference" type="xs:string" minOccurs="0"/>
<xs:element name="relatedOrder" type="tns:relatedOrder" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="statusCodeLast" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeNext" type="xs:string" minOccurs="0"/>
<xs:element name="supplier" type="tns:entity" minOccurs="0"/>
<xs:element name="timePromisedDelivery" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedOriginal" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedShip" type="xs:int" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
<xs:element name="timeScheduledPick" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processSODetailBilling">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="modeOfTransportCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="pricing" type="tns:pricing" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="subledger" type="xs:string" minOccurs="0"/>
<xs:element name="subledgerTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxableCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="pricing">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isZeroPriceOverride" type="xs:boolean" minOccurs="0"/>
<xs:element name="priceCode1" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode2" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode3" type="xs:string" minOccurs="0"/>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSalesOrder">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="header" type="tns:confirmSOHeader" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSOHeader">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="actionType" type="xs:string" minOccurs="0"/>
<xs:element name="amountTotalOrderDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="amountTotalOrderForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="attachmentText" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dates" type="tns:confirmSOHeaderDates" minOccurs="0"/>
<xs:element name="delivery" type="tns:confirmSOHeaderDelivery" minOccurs="0"/>
<xs:element name="detail" type="tns:confirmSODetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="financial" type="tns:confirmSOHeaderFinancial" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:processSOCustomer" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetail">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="dates" type="tns:confirmSODetailDates" minOccurs="0"/>
<xs:element name="delivery" type="tns:confirmSODetailDelivery" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="financial" type="tns:confirmSODetailFinancial" minOccurs="0"/>
<xs:element name="product" type="tns:confirmSODetailProduct" minOccurs="0"/>
<xs:element name="quantity" type="tns:quantity" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="confirmSODetailFinancial">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getItemPriceAndAvailability">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:entity" minOccurs="0"/>
<xs:element name="processing" type="tns:processingVersion" minOccurs="0"/>
<xs:element name="product" type="tns:productIn" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showItemPriceAndAvailability">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="product" type="tns:productOut" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="productOut">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="availability" type="tns:availability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="priceExtended" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnit" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getItemListPrice">
<xs:complexContent>
<xs:extension base="tns:itemListPriceShared">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="itemListPriceShared">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:entity" minOccurs="0"/>
<xs:element name="dateEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateExpiration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="unitOfMeasureCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showItemListPrice">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="showItemListPrice" type="tns:itemListPriceRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="itemListPriceRecord">
<xs:complexContent>
<xs:extension base="tns:itemListPriceShared">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="lotGrade" type="xs:string" minOccurs="0"/>
<xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
<xs:element name="lotPotency" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceList" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesOrder">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="header" type="tns:showSalesHeader" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesHeader">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="amountTotalOrderDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="amountTotalOrderForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="currencyCodeFrom" type="xs:string" minOccurs="0"/>
<xs:element name="currencyModeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="customerPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="dateActualShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTransaction" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="deliveryInstruction1" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryInstruction2" type="xs:string" minOccurs="0"/>
<xs:element name="detail" type="tns:showSalesDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="entityIdCarrier" type="xs:int" minOccurs="0"/>
<xs:element name="forwardedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="holdOrderCode" type="xs:string" minOccurs="0"/>
<xs:element name="invoicedTo" type="tns:entity" minOccurs="0"/>
<xs:element name="modeOfTransport" type="xs:string" minOccurs="0"/>
<xs:element name="orderTakenBy" type="xs:string" minOccurs="0"/>
<xs:element name="orderedBy" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:originalOrder" minOccurs="0"/>
<xs:element name="paidBy" type="tns:entity" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="percentDiscountTrade" type="xs:decimal" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="RMAId" type="xs:int" minOccurs="0"/>
<xs:element name="RMAType" type="xs:string" minOccurs="0"/>
<xs:element name="rateExchangeOverride" type="xs:decimal" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="routeCode" type="xs:string" minOccurs="0"/>
<xs:element name="salesOrderKey" type="tns:salesOrderKey" minOccurs="0"/>
<xs:element name="shipTo" type="tns:showSalesShipTo" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
<xs:element name="stopCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
<xs:element name="zoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetail">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementId" type="xs:string" minOccurs="0"/>
<xs:element name="agreementSupplement" type="xs:int" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="categoryCodesPurchasing" type="tns:categoryCodesPurchasing" minOccurs="0"/>
<xs:element name="categoryCodesSales" type="tns:categoryCodesSales" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="costExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitPurchasingDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitPurchasingForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="currencyCodeFrom" type="xs:string" minOccurs="0"/>
<xs:element name="customerPO" type="xs:string" minOccurs="0"/>
<xs:element name="dateAccounting" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateActualShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCancel" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateInvoice" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateOrdered" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedDelivery" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedOriginal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datePromisedShip" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRequested" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateScheduledPick" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliverTo" type="tns:entity" minOccurs="0"/>
<xs:element name="deliveryId" type="xs:int" minOccurs="0"/>
<xs:element name="document" type="tns:document" minOccurs="0"/>
<xs:element name="documentLineNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="dutyStatusCode" type="xs:string" minOccurs="0"/>
<xs:element name="endUseCode" type="xs:string" minOccurs="0"/>
<xs:element name="entityIdSupplier" type="xs:int" minOccurs="0"/>
<xs:element name="lineBilling" type="tns:showSalesDetailLineBilling" minOccurs="0"/>
<xs:element name="lineOfBusinessCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="originalOrder" type="tns:showSalesDetailOriginalOrder" minOccurs="0"/>
<xs:element name="parent" type="tns:entity" minOccurs="0"/>
<xs:element name="pickSlipId" type="xs:int" minOccurs="0"/>
<xs:element name="product" type="tns:showSalesDetailProduct" minOccurs="0"/>
<xs:element name="quantityBackOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityCanceled" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantityShippable" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateExchangeOverride" type="xs:decimal" minOccurs="0"/>
<xs:element name="reference" type="xs:string" minOccurs="0"/>
<xs:element name="relatedOrder" type="tns:relatedOrder" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="shipmentId" type="xs:int" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
<xs:element name="statusCodeLast" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeNext" type="xs:string" minOccurs="0"/>
<xs:element name="timePromisedDelivery" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedOriginal" type="xs:int" minOccurs="0"/>
<xs:element name="timePromisedShip" type="xs:int" minOccurs="0"/>
<xs:element name="timeRequested" type="xs:int" minOccurs="0"/>
<xs:element name="timeScheduledPick" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="userReservedData" type="tns:userReservedData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailLineBilling">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="linePricing" type="tns:showSalesDetailLinePricing" minOccurs="0"/>
<xs:element name="modeOfTransport" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="printMessageCode" type="xs:string" minOccurs="0"/>
<xs:element name="subledger" type="xs:string" minOccurs="0"/>
<xs:element name="subledgerTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxExplanationCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxRateAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="taxableCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showSalesDetailLinePricing">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="adjustmentScheduleCode" type="xs:string" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="itemPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode1" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode2" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode3" type="xs:string" minOccurs="0"/>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getCustomerItemPriceV2">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementID" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="customerPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTaxedPricesEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="discountTrade" type="xs:decimal" minOccurs="0"/>
<xs:element name="endUseCode" type="xs:string" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineOfBusinessCode" type="xs:string" minOccurs="0"/>
<xs:element name="modeOfTransportCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="priceAdjustmentId" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode1" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode2" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode3" type="xs:string" minOccurs="0"/>
<xs:element name="processing" type="tns:processingVersion" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="rateExchange" type="xs:decimal" minOccurs="0"/>
<xs:element name="routeCode" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeDuty" type="xs:string" minOccurs="0"/>
<xs:element name="stopCode" type="xs:string" minOccurs="0"/>
<xs:element name="transactionQuantity" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
<xs:element name="zoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="customer">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="soldTo" type="tns:entity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="product">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="item" type="tns:itemGroupCustomer" minOccurs="0"/>
<xs:element name="itemVolume" type="xs:decimal" minOccurs="0"/>
<xs:element name="itemWeight" type="xs:decimal" minOccurs="0"/>
<xs:element name="lineType" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="lotNumber" type="xs:string" minOccurs="0"/>
<xs:element name="shipTo" type="tns:entity" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeVolume" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeWeight" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showCustomerItemPriceV2">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="costExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="currencyModeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTaxedPricesEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceListDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceListForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxAmountUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="taxedPriceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="useTaxedPrices" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getCustomerItemPrice">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="agreementID" type="xs:string" minOccurs="0"/>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="carrier" type="tns:entity" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="customerPriceGroupCode" type="xs:string" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="discountTrade" type="xs:decimal" minOccurs="0"/>
<xs:element name="endUseCode" type="xs:string" minOccurs="0"/>
<xs:element name="freightHandlingCode" type="xs:string" minOccurs="0"/>
<xs:element name="lineOfBusinessCode" type="xs:string" minOccurs="0"/>
<xs:element name="modeOfTransportCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentInstrumentCode" type="xs:string" minOccurs="0"/>
<xs:element name="paymentTermsCode" type="xs:string" minOccurs="0"/>
<xs:element name="priceAdjustmentId" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode1" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode2" type="xs:string" minOccurs="0"/>
<xs:element name="priceCode3" type="xs:string" minOccurs="0"/>
<xs:element name="processing" type="tns:processingVersion" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="rateExchange" type="xs:decimal" minOccurs="0"/>
<xs:element name="routeCode" type="xs:string" minOccurs="0"/>
<xs:element name="statusCodeDuty" type="xs:string" minOccurs="0"/>
<xs:element name="stopCode" type="xs:string" minOccurs="0"/>
<xs:element name="transactionQuantity" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
<xs:element name="zoneNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="showCustomerItemPrice">
<xs:complexContent>
<xs:extension base="tns:messageValueObject">
<xs:sequence>
<xs:element name="businessUnit" type="xs:string" minOccurs="0"/>
<xs:element name="costExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="costUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="currencyModeCode" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="datePriceEffective" type="xs:dateTime" minOccurs="0"/>
<xs:element name="priceExtendedDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceExtendedForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceListDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceListForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitDomestic" type="xs:decimal" minOccurs="0"/>
<xs:element name="priceUnitForeign" type="xs:decimal" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitOfMeasureCodePricing" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasureCodeTransaction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>