TestJava/Project1/public_html/WEB-INF/wsdl/ShippingConfirmation.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://oracle.e1.bssv.JP594205/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://oracle.e1.bssv.JP594205/">

<xs:element name="BusinessServiceException" type="tns:BusinessServiceException"/>

<xs:element name="SalesShippingConfirmation" nillable="true" type="tns:voD554205A1INPUT"/>

<xs:element name="SalesShippingConfirmationResponse" nillable="true" type="tns:voD554205A1OUTPUT"/>

<xs:complexType name="voD554205A1INPUT">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="companyKeyEDIDocumentKeyCo" type="xs:string" minOccurs="0"/>
<xs:element name="EDIDocumentNumber" type="xs:int" minOccurs="0"/>
<xs:element name="EDIDocumentType" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="valueObject">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="voD554205A1OUTPUT">
<xs:complexContent>
<xs:extension base="tns:valueObject">
<xs:sequence>
<xs:element name="dataItem" type="xs:string" minOccurs="0"/>
<xs:element name="JDEnterpriseOneEventPoint01" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BusinessServiceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="requestID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>